.vs
*.user
APETools/APEDisasm/bin
APETools/APEDisasm/obj
APETools/AnoxAPECompiler/bin
APETools/AnoxAPECompiler/obj
APETools/AnoxAPEDecompiler/bin
APETools/AnoxAPEDecompiler/obj
APETools/AnoxAPE/bin
APETools/AnoxAPE/obj
APETools/dparse/bin
APETools/dparse/obj
APETools/rdc/bin
APETools/rdc/obj
launchSettings.json
